.popular{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
}

.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item{
    display: flex;
    margin-top: 50px;
    gap: 30px;
}